.hero{
    position: relative;
}
.banner_img{
    width: 100%;
    mask-image: linear-gradient(to right,transparent,black 70%);
}
.hero_title{
    position: absolute;
    bottom: 0;
    padding-left: 6%;
    width: 100%;
}
.caption{
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}
.hero_title p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}
.hero-btn{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
.hero-btn .btn img{
    width: 25px;
}
.hero-btn .btn{
    display: inline-flex;
    align-items: center;
    padding: 8px 20px;
    border: none;
    outline: none;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}
.hero-btn .dark_btn{
    background: #6d6d6eb3;
    color: white;
}
.hero-btn .btn:hover{
    background: #ffffffbf;
}
.hero-btn .dark_btn:hover{
    background: #6d6d6e66;
}
.moreCards{
    padding-left: 6%;
}
@media (max-width:1024px){
    .hero .titleCard{
        display: none;
    }
    .hero-btn{
        margin-bottom: 30px;
    }
}
@media (max-width:800px){
    .hero_title{
        padding-left: 4%;
    }
    .caption{
        margin-bottom: 10px;
        width: 40%;
    }
    .hero_title p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .btn img{
        width: 20px;
    }
    .moreCards{
        padding-left: 4%;
    }
}
@media (max-width:500px){
    .caption{
        display: none;
    }
    .btn img{
        width: 15px;
    }
    .btn{
        padding: 4px 10px;
        gap: 5px;
        font-size: 10px;
    }
}